
.home1{
  background: url(../img/br-1.jpg) ;
  background-size: cover;
  min-height: 90vh;
  align-items: center;
  text-align: center;
  position: relative;
  display: block;
  background-attachment: fixed
}
.home11{
  background: #cbad06;
  background-size: cover;
  min-height: 70vh;
  text-align: center;
  
}
  

.home2{
  background: rgb(37, 37, 37);
  background-size: cover;
  min-height: 10vh;
  text-align: center;
  font-family: 'Cabin', sans-serif;
}
.homeb1{
  background:  #cbad06;
  background-size: cover;
  min-height: 70vh;
  text-align: center;
  align-items: center;
  display: flex
}
.homeb2{
  background: rgb(245, 244, 244);
  background-size: cover;
  min-height: 120vh;
  text-align: center;
  align-items: center;
  display: flex
  
}
.home3{
  background: rgb(253, 252, 252);
  background-size: cover;
  min-height: 100vh;
}
.home4{
  background: rgb(37, 37, 37);
  min-height: 40vh;
  text-align: center;
  font-family: 'Cabin', sans-serif;
}
.home5{
  background: rgb(253, 250, 250);
  min-height: 70vh;
  text-align: center;
}
.home6{
  background: rgb(253, 250, 250);
  min-height: 70vh;
}
.home7{
  background: rgb(71, 67, 67);
  min-height: 40vh;
}
.home8{
  background: rgb(32, 32, 32);
  min-height: 10vh;
}
.homec1{
  background: rgb(250, 247, 247);
  min-height: 100vh;
  
}
.home2 ul {
  list-style-type: none;
  text-decoration: none;
  font-size: 16px;
  padding: 0px
}
.home2 ul li {
  display: inline-block;
  padding: 2rem 1rem;
  letter-spacing: 0.1rem;
  padding-bottom: 1rem
}
.home2 nav ul li a {
  color: white;
  padding: 3px 5px 3px 5px;
  font-family: 'Cabin', sans-serif;
}
.home2 ul a:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.425);
  color: rgba(223, 198, 130, 0.884);
  border-radius: 5px
}
.home2 ul li.active a {
  text-decoration: none;
  background: rgba(56, 52, 52, 0.507);
  color: rgba(243, 243, 243, 0.952);
}
.home1 .w{
  color: white;
  margin-top: 10rem;
  font-family: 'Cairo', sans-serif;
  size: 100px;
  line-height: 5px
}
.home3 .h1{
  margin-top: 2rem;
  text-align: right
}
.home3 .t1{
  margin-top: 2rem;
  text-align: left
}
.home3 .d{
  margin-top: 5rem
}
.home3 .h2{
  text-align: right
}
.home3 .t2{
  text-align: right;
  margin-top: 5rem;
}
.home3 .d1 {
  margin-top: 1rem
}
.t2:before{
  content: '';
  display: block;
  height: 4px;
  background: #cbad06;
  width: 240px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(33%);
  margin-bottom: 9rem;
  border-radius: 1rem;
  margin-right: 0
}
.t1:before{
  content: '';
  display: block;
  height: 200px;
  background: #cbad06;
  width: 4px;
  position: absolute;
  bottom: -5px;
  left: 10%;
  margin-bottom: 2rem;
  border-radius: 1rem;
  text-align: left
}
.home4 .h3{
  padding-top: 3rem;
  font-size: 20px
}
.home5 .h4{
  padding-top: 2rem
}
.home11 .lorem1{
  font-family: 'Nunito', sans-serif;
}
.home11 .lorem2{
  font-family: 'Nunito', sans-serif;
}
.home11 .lorem3{
  font-family: 'Nunito', sans-serif;
}
.home7 .ff{
  font-family: 'Nunito', sans-serif;
} 
.homeb1 .lorem4{
  font-family: 'Nunito', sans-serif;
}
.homeb1 .lorem5{
  font-family: 'Nunito', sans-serif;
}
.homec1 .lorem6{
  font-family: 'Nunito', sans-serif;
}
.homec1 .lorem7{
  font-family: 'Nunito', sans-serif;
}
.homec1 .lorem8{
  font-family: 'Nunito', sans-serif;
}
.homec1 .support{
  font-family: 'Nunito', sans-serif;
}
.homec1 .contact{
  font-family: 'Nunito', sans-serif;
}
.homec1 .email{
  font-family: 'Nunito', sans-serif;
}
.hoem5 .r{
margin-top: -10rem;
text-align: left
  }
.home3 .t{
margin-top: 5rem
}
.home6 .g{
  text-align: right;
}
.home6 .hh{
  color: gray;
  padding-left: 2rem
}
.home6{
  background-color: rgb(245, 240, 240)
}
.home5{
  background-color: rgb(248, 246, 246)
}
.home7 .c1{
  padding-top: 2rem
}
.home7 .c2{
  padding-top: 2rem
}
.home7 .c3{
  padding-top: 2rem
}
.home7 .c3:hover{
  transform: scale(1.1);
  
}
.home2 .home{
  font-family: 'Electrolize', sans-serif;
}
.home7 .ssss{
  text-align: center;
  padding-top: 2rem;
  color: gray
}
.ssss:before{
  content: '';
  display: block;
  height: 4px;
  background: #cbad06;
  width: 240px;
  position: absolute;
  bottom: 3%;
  left: 37%;
  margin-bottom: -2rem;
  border-radius: 1rem;
  text-align: center
}
.home11 .bd{
padding-top: 3rem;
background: rgba(255, 255, 255, 0.041);
stroke: black

}
.home8 .dd{
margin-right: 0;
display: inline-block;
text-align: right;

}
.icon {
  margin: 0 10px 20px 0;
  align-items: center;
}
.homeb2 .abc{
  padding: 2rem auto
}
.homeb2 .tero{
  position: relative;
}
.homeb2 .tero:before{
  content: '';
display: block;
height: 4px;
background: #cbad06;
width: 90px;
position: absolute;
top:5rem;
left: 50%;
transform: translateX(-50%);
border-radius: 10%
}
.homec1 .f{
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 5rem
}
